

<form action="/reset-password/<%=accessToken%>/update-password" method="post" class="container">
    <div class="form-group">
        <label for="password" class="form-label"> Password</label> 
        <input type="password" class="form-control" name="password" placeholder="Enter your password"
        required>
    </div>
    <div class="form-group">
        <label for="confirm_password" class="form-label"> Confirm Password</label> 
        <input type="password"class="form-control" name="confirm_password" placeholder="Confirm your password" required>
    </div>
    
    

    <div class="d-flex flex-row-reverse bd-highlight">
        <input type="submit"  class="btn btn-danger"value="Send">
    </div>
</form>