

<form action="/reset-password/submit-email-for-identification" method="post" class="container">
    <div class="form-group">
        <label for="email" class="form-label"> Email Address</label> 
        <input type="email" class="form-control"name="email" placeholder="Enter your email" required>
    </div>
    <div class="d-flex flex-row-reverse bd-highlight">
        <input type="submit"  class="btn btn-danger"value="Send email for verification">
    </div>
</form>