<link rel="stylesheet" href="/css/profile.css">
<h1>
    Profile Page
</h1>
<ul>
    <% if (locals.user) { %>
        <li><%= user.name %></li>
        <li>
            <a href='/users/sign-out'>Sign-Out</a>

        </li>
        <li>
            <a href='/reset-password'>Reset-password</a>

        </li>

            

    <% } %>


</ul>



