<div>
    <h3>
        Welcome to someMail 
    </h3>

    <p>
        Hi <%= user.name %> To activate your account, please <a href="https://api.render.com/deploy/srv-cis1a515rnujejuaq2eg?key=cjuDQ_M4nv4/<%=process.env.PORT%>/users/verify-email/<%=user.emailToken%>"> Click Here </a>
    </p>
    

</div>