<div>
    <h3>
        Welcome to someMail 
    </h3>

    <p>
        Hi <%= user.name %> To activate your account, please <a href="https://authsystem-4ou2.onrender.com/users/verify-email/<%=user.emailToken%>"> Click Here </a>
    </p>
    

</div>